.timeline__day-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-sm);
  position: relative;
}

.timeline__day-header > span[class^="dow"] {
  font-size: var(--font-size-xs);
  text-transform: capitalize;
  font-weight: 700;
  padding: var(--spacer-half) var(--spacer);
  background: var(--color-blue-50);
  color: var(--color-blue-900);
  box-shadow: 0 1px 0 var(--color-blue-300), 0 0 0 1px var(--color-blue-200);
  border-radius: 67px;
}

.timeline__day-header > span.dow-0,
.timeline__day-header > span.dow-6 {
  background: transparent;
  box-shadow: none;
}

.timeline__day-header > span.date {
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.timeline__day-header > span.date {
  color: var(--color-gray-800);
}

.timeline__day-header > span.date.today {
  color: var(--color-red-700);
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.timeline__day-header > span.hours {
  font-family: monospace;
}
