.timeline__day-minutes {
  font-size: var(--font-size-xs);
  font-weight: 700;
  color: transparent;
  font-family: monospace;
}

.timeline__day-minutes.has-hours {
  color: var(--color-gray-800);
}

.timeline__day-minutes:not(.has-hours):after {
  color: var(--color-gray-300);
  content: '—';
}
