.timeline__day {
  border-top: 1px solid var(--color-gray-100);
  padding: var(--spacer);
  display: grid;
  grid-template-areas:
    "day-date dow-indicator minutes"
    "day-date content add-button";
  grid-template-columns:
    auto minmax(0, 1fr) 3rem;
  row-gap: var(--spacer-half);
  column-gap: var(--spacer);
}

.timeline__day > .day-date-container {
  grid-area: day-date;
}

.timeline__day > .dow-indicator-container {
  grid-area: dow-indicator;
  display: flex;
  justify-content: center;
}

.timeline__day > .minutes-container {
  grid-area: minutes; 
  display: flex;
  justify-content: end;
}

.timeline__day > .add-button-container {
  grid-area: add-button; 
  display: flex;
  justify-content: end;
}

.timeline__day > .content {
  grid-area: content; 
}

.timeline__day > div.content {
  display: flex;
  align-items: center;
}

.timeline__day > div.content > ul:empty:before {
  content: 'Tap to add hours';
  display: block;
  text-align: center;
  flex-grow: 1;
  line-height: 1.7;
  color: var(--color-gray-500);
  position: relative;
  top: -2px;
}

.timeline__day > div.content > ul {
  list-style: none;
  display: flex;
  gap: var(--spacer);
  overflow-x: auto;
  overflow-y: hidden;
  flex-grow: 1;
}
