.timeline__hour-block {
  align-items: center;
  display: flex;
  padding: 2px var(--spacer) 2px 2px;
}

.timeline__hour-block > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* this is so the lower and upper parts of the characters dont get cut off */
  padding: 0.3em 0;
}

.timeline__hour-block > strong {
  background: var(--color-gray-50);
  box-shadow: 0 0 0 1px var(--color-gray-200);
  border-radius: 67px;
  font-family: monospace;
  font-size: var(--font-size-sm);
  padding: var(--spacer) var(--spacer-2x);
  margin-right: var(--spacer-half);
}
