:root {
  --dialog-animation-duration: 0.5s;
  --dialog-animation-timing: cubic-bezier(0.46, -0.01, 0, 1);
}

.dialog {
  position: fixed;
  left: 0;
  right: 0;
  top: calc(3 * var(--spacer));
  bottom: 0;
  box-shadow: 0 0 75px rgba(0,0,0,0);
  background: var(--color-white);
  transition: transform var(--dialog-animation-duration) var(--dialog-animation-timing),
            box-shadow var(--dialog-animation-duration) var(--dialog-animation-timing);
  display: none;
  overflow: auto;
  transform: scale(1.1) translateY(100%);
  border-radius: 1.8rem 1.8rem 0 0;
  z-index: 2;

  --dialog-padding: calc(var(--spacer) * 2);
}

.dialog.show {
  box-shadow: 0 0 75px rgba(0,0,0,0.5);
}

.dialog.show {
  transform: scale(1) translateY(0);
}

.dialog > * {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.dialog .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 1;
  top: 0;
  padding: var(--dialog-padding);
  background: var(--color-white);
}

.dialog .header .check,
.dialog .header .cancel,
.dialog .header .send {
  height: 2.67rem;
  width: 2.67rem;
  border-radius: 50%;
  font-size: 0;
  background-size: 1rem;
  background-position: center;
  background-repeat: no-repeat;
}

/* TODO: these images are shit slop ... create my own svgs */

.dialog .header .check {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M20.285 2.709l-11.31 11.31-5.657-5.657-2.828 2.828 8.485 8.485 14.142-14.142z'/%3E%3C/svg%3E");
}

.dialog .header .cancel {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='3' stroke-linecap='square' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'/%3E%3Cline x1='6' y1='6' x2='18' y2='18'/%3E%3C/svg%3E");
  background-size: 1.2rem;
}

.dialog .header .send {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath transform='rotate(-45 13 11)' d='M3 20l20-9L3 2v7l14 2-14 2z'/%3E%3C/svg%3E");
  background-size: 1.2rem;
  background-position: 55% 45%;
}

.dialog .body {
  flex-grow: 1;
}

/*
 * This is a little weird that there are things we have to do outside the scope
 * of the dialog component itself. whatever.
 */

.page {
  transition: transform var(--dialog-animation-duration) var(--dialog-animation-timing);
  transform-origin: top;
  box-shadow: 0 0 0 var(--spacer) var(--color-white);
  border-radius: 1rem;
}

.page.backdrop {
  transform: scale(0.9) translateY(calc(3 * var(--spacer)));
}
