@import "../base.css";
@import "../button.css";
@import "../input.css";
@import "../timeline/day-header.css";
@import "../timeline/day.css";
@import "../timeline/hour-block.css";

@import "dialog.css";
@import "log-hours.css";
@import "send-report.css";
@import "update-notice.css";

html, body, .app, .page {
  overflow: hidden;
}

.app {
  background: var(--color-black);
}

.page {
  height: 100dvh;
  background: var(--color-white);
}
