.app__log-hours {
  height: 100%;
  overflow: auto;
}

.app__log-hours .header .inputs {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: var(--spacer);
  margin-left: var(--spacer);
}

.app__log-hours .header .inputs > input {
  box-shadow: none;
  background: transparent;
  padding: 0.1em;
  min-width: 0;
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;
}

.app__log-hours .header .inputs > input:focus {
  outline: none;
  background: var(--color-gray-200);
}

.app__log-hours .header .inputs > input:first-child {
  font-weight: 700;
  font-size: var(--font-size-lg);
  margin-bottom: 0;
}

.app__log-hours .body {
  display: flex;
  flex-direction: column;
}

.app__log-hours .adjusters {
  display: flex;
  justify-content: center;
  gap: var(--spacer-2x);
  flex-grow: 1;
}

.app__log-hours .adjusters button {
  font-size: 1rem;
  font-family: monospace;
  touch-action: manipulation;
}

.app__log-hours .adjusters button:nth-child(2) { --btn-color: var(--color-gray-600); }
.app__log-hours .adjusters button:nth-child(3) { --btn-color: var(--color-gray-500); }

.app__log-hours .adjusters div {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-2x);
}

.app__log-hours .minutes {
  font-size: 3rem;
  display: block;
  text-align: center;
  margin: var(--spacer-4x);
  font-family: monospace;
}

.app__log-hours .danger-zone {
  padding: var(--spacer-2x) var(--spacer-2x);
  margin: var(--dialog-padding);
  color: var(--color-red-900);
  background: var(--color-red-100);
  border-radius: 1.5rem;
}

.app__log-hours .danger-zone p {
  margin-bottom: var(--spacer-2x);
  line-height: 1.25;
}
