.app__send-report__trigger {
  position: fixed;
  z-index: 1;
  bottom: var(--spacer);
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 17px rgba(0,0,0,0.2);
}

.app__send-report > .header > p {
  font-weight: 700;
  font-size: 1.25rem;
  padding-left: var(--spacer);
}

.app__send-report select {
  min-width: 0;
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;
  margin: 0 var(--spacer);
  line-height: 1.6;
}

.app__send-report .report {
  padding: var(--spacer-3x);
  padding-bottom: var(--spacer-2x);
  margin: var(--dialog-padding);
  margin-top: 2px;
  background: var(--color-gray-100);
  box-shadow: 0 1px 0 var(--color-gray-300), 0 0 0 1px var(--color-gray-200);
  border-radius: 1.5em;
}

.app__send-report .report .total {
  margin-bottom: var(--spacer);
}

.app__send-report .report .days p {
  margin-bottom: var(--spacer);
}
