button,
.button {
  /* sizing */
  --btn-horizontal-padding: var(--spacer-2x);
  --btn-vertical-padding: var(--spacer);
  --btn-font-size: var(--font-size-sm);
  --btn-font-weight: 700;

  font-size: var(--btn-font-size);
  padding: var(--btn-vertical-padding) var(--btn-horizontal-padding);
  font-weight: var(--btn-font-weight);
  /* height set with line height to match the line height of the larger text
   * in inputs that these might be next to */
  line-height: 1.33;

  /* coloring */
  --btn-color: var(--color-gray-800);
  --btn-background: var(--color-gray-50);
  --btn-lowlight: var(--color-gray-300);
  --btn-highlight: var(--color-white);
  --btn-glow: var(--color-gray-900);

  background: var(--btn-background);
  color: var(--btn-color);
  box-shadow:
    0 1px 8px -3px var(--btn-glow),
    inset 0 -2px 4px 1px var(--btn-lowlight),
    inset 0 2px 4px 1px var(--btn-highlight);

  /* shape & layout */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 100px;
  border: none;
  appearance: none;
  text-align: center;
  text-decoration: none;

}

button.primary,
.button.primary {
  --btn-color: var(--color-blue-50);
  --btn-background: var(--color-blue-700);
  --btn-lowlight: var(--color-blue-900);
  --btn-highlight: var(--color-blue-400);
  --btn-glow: var(--color-blue-800);
}

button.danger,
.button.danger {
  --btn-color: var(--color-red-50);
  --btn-background: var(--color-red-700);
  --btn-lowlight: var(--color-red-900);
  --btn-highlight: var(--color-red-400);
  --btn-glow: var(--color-red-800);
}

button.large,
.button.large {
  --btn-font-size: var(--font-size-lg);
  --btn-horizontal-padding: var(--spacer-3x);
}
